h4{text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: white;
    background-color: rgb(50, 50, 50);
    width: 200px;
    margin: auto;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding: 3px;
    font-family: serif;
    border-radius: 8px;
 }
  
 body{ margin: auto}

 .Latest-work{margin: 0 270px 20px 270px ;
              display: grid;
              grid-template-columns: auto auto auto;
              grid-gap: 20px;
              align-items: center;}


 body{ background-color:rgb(141, 19, 19);
        }


 .img{ width: 290px; 
       height: 190px;
       border: 3px solid white;
       margin-bottom: 10px; 
       position: relative;}

 .img:hover{border: 3px solid #7cc08d }
 .img:hover>.description {display:none;}


 .description {  padding:5px;
                 background-color:rgb(50, 50, 50);
                 color: white; position: absolute; 
                 bottom: 0px; 
                 width: 280px; 
                 text-transform: uppercase;
                 text-align:center;}



 footer .upper{
     width: device-width;
     text-align: center;
     display: flex;  
     justify-content: center; 
     padding-left: 270px; 
     padding-right: 270px;
     padding-bottom: 20px;
     background-color: rgb(50, 50, 50);
     color: white;
     font-size: 18px;
 }

 h3{ 
     font-family: serif;
     font-weight: 100;}

 .column-1  a{

      text-decoration: none;
      color:rgb(150,150,150);
      padding: 10px;
 }

 footer input, footer textarea{

     border-radius: 8px;
     background-color: rgb(40,40,40);
     color: rgb(150,150,150);
     padding: 8px 10px;
     border-top-style: hidden;
     border-right-style: hidden;
     border-left-style: hidden;
     border-bottom-style: hidden;
     outline:none;
     font-family: 'Times New Roman', Times, serif;
     font-size: 16px;
     resize: none; 
         
 }

 table td{
       
     padding: 5px;;
 }

 footer h3{
     text-align: left;
     color: rgb(200,200,200);
 }

 footer p{ text-align: left;}

 .column-1, .column-2, .column-3, .column-4{
     width:300px;
 }

 footer .last{ border-top: 2px solid rgb(0,0,0);
     background-color: rgb(35, 35, 35);
        position: relative;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 50px;
        color: rgb(150,150,150);
        }

 .column-2 a{
     text-decoration: none;
     color: #7cc08d;

 }

 .column-2 p{border-bottom: 1px solid rgb(90,90,90);
             margin-right: 40px; }

 .column-3 p{color: rgb(150,150,150);
             margin-right: 20px ;}
 .column-3 p em{ color: #7cc08d}