@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
 
 margin-left: 0%;;
 margin-right: 0%;

  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}
header{
  background-color: #421818;
  height: 80px;
  width: 100%;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  line-height: 47px;
}
.logo span{
line-height: 0px;

}

.big-text{
  color: white;
  font-size: 28px;
  line-height: 70px;
}

nav ul li{
  display: inline-block;
  line-height: 70px;
}
nav ul li a {
  color:white;
  margin: 10px 20px;
  font-size: 15px;

}
nav ul li a:hover{

  background-color: green;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0s;
}
.active{
  background-color: green;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0s;
}
.slider{
  background-color:#421818;
  width: 100%;
  height:450px;
}


body {
    background-color: #e6ede8;
    transition: background 0.2s linear;
    margin: 0;	
}

img {
  display: block;
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.gallery.pop {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.gallery figure {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.gallery figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.gallery figure figcaption {
  display: none;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out .2s;
  transition: opacity .5s ease-in-out .2s;
}
.popup.pop {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out 0s;
  transition: opacity .2s ease-in-out 0s;
}
.popup.pop figure {
  margin-top: 0;
  opacity: 1;
}
.popup figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 30px;
  opacity: 0;
  -webkit-animation: poppy 500ms linear both;
          animation: poppy 500ms linear both;
}
.popup figure img {
  position: relative;
  z-index: 2;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
}
.popup figure figcaption {
  position: absolute;
  bottom: 50px;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.78));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.78));
  z-index: 2;
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 100px 20px 20px 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}
.popup figure figcaption small {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  margin-top: 12px;
  text-indent: 3px;
  opacity: .7;
  letter-spacing: 1px;
}
.popup figure .shadow {
  position: relative;
  z-index: 1;
  top: -15px;
  margin: 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 98%;
  height: 50px;
  opacity: .6;
  -webkit-filter: blur(15px) contrast(2);
          filter: blur(15px) contrast(2);
}
.popup .close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(#close);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.popup .close svg {
  width: 100%;
  height: 100%;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:rgb(148, 121, 98);
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:#E9593E;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:rgb(148, 121, 98);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.color{
 color:rgb(148, 121, 98);
}

.color2{
 color:rgb(148, 121, 98);
 size:80px;
 font-family:Brush Script MT, Brush Script Std, cursive;
}

.color1{
  size:71px;
  font-family:Brush Script MT, Brush Script Std, cursive;
}
/*Ngjyra e backgrroundit dhe margjinat */
*{font-family: Georgia, "Times New Roman", Times, serif;}

body{ 
    background-color:rgb(102, 0, 0);
    margin: auto;
    font-family: 'Times New Roman', Times, serif; }

h4::before {
    content: "";
    display: block;
    width: 452px;
    height: 2px;
    background: rgb(50, 50, 50);
    left: 120px;
    top: 7%;
    position: absolute;
  }
  
  h4::after {
    content: "";
    display: block;
    width: 380px;
    height: 2px;
    background: rgb(50, 50, 50);
    right: 160px;
    top: 7%;
    position: absolute;
  }
 
/* Stilizimi i titullit latest work*/
 #Latest-work{text-align: center;
    font-size: 25px;
    font-weight: 200;
    color: white;
    background-color: rgb(50, 50, 50);
    width: 200px;
    margin: auto;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding: 3px;
    
    border-radius: 8px;
    margin-top: 30px;
 }
  
/* Stilizimi i klases Latest-work (renditja e recetave te fundit ne nje grid 3x2, vendosja e tyre ne mes)*/
 .Latest-work{/*margin-left: 220px;
              margin-right: 220px;*/
              margin-bottom: 35px;
              padding: 0px 120px;
              display: grid;
              grid-template-columns: auto auto auto;
              grid-gap: 50px;
              align-items: center;}
/*Caktimi i madhesise se imazheve te Latest Work sipas template-it*/
 .img{ width: 290px; 
       height: 190px;
       border: 3px solid white;
       margin-bottom: 10px; 
       position: relative;}

/*Stilizimi i pseudoklases hover */
 .img:hover{border: 3px solid #7cc08d }
 .img:hover>.description {display:none;}

/*Stilizimi i pershkrimit te recetave te fundit*/
 .description {  padding:5px;
                 background-color:rgb(50, 50, 50);
                 color: white; position: absolute; 
                 bottom: 0px; 
                 width: 280px; 
                 text-transform: uppercase;
                 text-align:center;}



 footer .upper{
     width: device-width;
     text-align: center;
     display: flex;  
     justify-content: center; 
     padding-left: 120px; 
     padding-right: 120px;
     padding-bottom: 20px;
     background-color: rgb(50, 50, 50);
     color: white;
     font-size: 18px;
     column-gap: 20px;
 }

 h3{ 
     font-weight: 100;}

 .column-1  a{

      text-decoration: none;
      color:rgb(150,150,150);
      padding: 10px;
 }

 footer input, footer textarea, #check_availibilty{

     border-radius: 8px;
     background-color: rgb(40,40,40);
     color: rgb(150,150,150);
     padding: 8px 10px;
     border-top-style: hidden;
     border-right-style: hidden;
     border-left-style: hidden;
     border-bottom-style: hidden;
     outline:none;
     font-size: 16px;
     resize: none; 
         
 }

 table td{
       
     padding: 5px;;
 }

 footer h3{
     text-align: left;
     color: rgb(200,200,200);
 }

 footer p{ text-align: left;}

 .column-1, .column-2, .column-3, .column-4{
     width:300px;
 }

 footer .last{ border-top: 2px solid rgb(20,20,20);
     background-color: rgb(35, 35, 35);
        position: relative;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 50px;
        color: rgb(150,150,150);
        }

 .column-2 a{
     text-decoration: none;
     color: #7cc08d;

 }

 .column-2 p{
     border-bottom: 1px solid rgb(90,90,90);
     margin-right: 20px;
     }

 .column-3 p{
     color: rgb(150,150,150);
     margin-right: 20px ;           
     font-size: 16px;}

 .column-3 p em, i{ 
     color: #7cc08d;
}
 b{
     color: rgb(90,90,90);
    }

 .grey{
     color: rgb(150,150,150);
    }

 .green{
     color: #7cc08d;
     text-align: left;
    }

 a #green{
     color: #7cc08d; 
     text-align: left; 
     text-decoration: none; 
    }
    
 #green{
    color: #7cc08d;
    text-align: right;
}

 #date{font-size: 13px;}

 #admin{color: #7cc08d;}

 fieldset{
     background-color: white;
     border-radius: 8px;
     margin:auto;
     max-width:530px;
     border:2px rgb(190,38 , 38);
     display: grid;
     grid-template-columns: auto auto auto;
     align-items: center;
     font-size:15px;
    }

.res_date{padding-left: 40px;}

#order-fieldset{max-width: 400px;}

legend{
    background-color: #7cc08d; 
    color: rgb(90,90,90);
    padding: 7px; 
    border-radius: 8px;
}

#check_availibilty{
    position: relative;
    left: 390px;}

select, input{ 
    background-color: rgb(180,180,180);   
    border-top-color:lightgrey; 
    border-left-color: lightgrey; 
    border-radius: 8px; 
    outline: none; 
    outline-offset: 2px; }
.about-section {
  padding: 50px;
  text-align: center;
  
  background-color:rgb(102, 0, 0);
  color: white;
}
